<a href="https://colab.research.google.com/github/2403A51L46/data-mining/blob/main/lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [4]:
data={'Category':['A','B','C','D','A','B','C','D',]}
df=pd.DataFrame(data)

In [5]:
print(df)

  Category
0        A
1        B
2        C
3        D
4        A
5        B
6        C
7        D

In [6]:
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['Category'])

In [7]:
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        D              3
4        A              0
5        B              1
6        C              2
7        D              3

In [8]:
one_hot_encoded=pd.get_dummies(df['Category'],prefix='Category')
print(one_hot_encoded)

   Category_A  Category_B  Category_C  Category_D
0        True       False       False       False
1       False        True       False       False
2       False       False        True       False
3       False       False       False        True
4        True       False       False       False
5       False        True       False       False
6       False       False        True       False
7       False       False       False        True

In [9]:
df=pd.concat([df,one_hot_encoded],axis=1)

In [10]:
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C  Category_D
0        A              0        True       False       False       False
1        B              1       False        True       False       False
2        C              2       False       False        True       False
3        D              3       False       False       False        True
4        A              0        True       False       False       False
5        B              1       False        True       False       False
6        C              2       False       False        True       False
7        D              3       False       False       False        True

In [11]:
from datetime import datetime

In [12]:
data={'Name':['Sathwik','Sai Kumar'],'DOB':['2004-12-15','2004-09-15']}
df=pd.DataFrame(data)
print(df)

        Name         DOB
0    Sathwik  2004-12-15
1  Sai Kumar  2004-09-15

In [13]:
df['DOB']=pd.to_datetime(df['DOB'])
print(df)

        Name        DOB
0    Sathwik 2004-12-15
1  Sai Kumar 2004-09-15

In [14]:
current=datetime.now().year
df['Age']=current-df['DOB'].dt.year
print(df)

        Name        DOB  Age
0    Sathwik 2004-12-15   21
1  Sai Kumar 2004-09-15   21